#EXTM3U
#EXTINF:-1 tvg-ID="" tvg-name="AXN" tvg-logo="http://i.imgur.com/cAGSnn7.png" group-title="LISTA FILMES E SERIES",AXN
http://94.23.19.121:8000/live/felipe1/felipe3873/1254.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) AXN WHITE HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) AXN WHITE HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1534.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) AXN HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) AXN HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1532.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) AXN  BLACK HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) AXN  BLACK HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1533.ts
#EXTINF:-1 tvg-ID="" tvg-name="A&E" tvg-logo="http://i.imgur.com/7NKeRuh.png" group-title="LISTA FILMES E SERIES",A&E
http://94.23.19.121:8000/live/felipe1/felipe3873/1253.ts
#EXTINF:-1 tvg-ID="" tvg-name="Anos 2000" tvg-logo="https://i.ytimg.com/vi/bvcpHXVHyCQ/hqdefault.jpg" group-title="LISTA RADIO",Anos 2000
http://94.23.19.121:8000/live/felipe1/felipe3873/892.ts
#EXTINF:-1 tvg-ID="" tvg-name="Anime Espanhol" tvg-logo="http://listaiptvbrasil.com/logos/animetv.png" group-title="LISTA DESENHOS",Anime Espanhol
http://94.23.19.121:8000/live/felipe1/felipe3873/66.ts
#EXTINF:-1 tvg-ID="" tvg-name="ANIMAL PLANET" tvg-logo="http://i.imgur.com/J1oK0xW.png" group-title="LISTA DOCUMENTÁRIOS",ANIMAL PLANET
http://94.23.19.121:8000/live/felipe1/felipe3873/1297.ts
#EXTINF:-1 tvg-ID="" tvg-name="Bandeirantes" tvg-logo="http://i.imgur.com/6xouXln.png" group-title="LISTA TV ABERTA",Bandeirantes
http://94.23.19.121:8000/live/felipe1/felipe3873/1187.ts
#EXTINF:-1 tvg-ID="" tvg-name="BAND SPORTS" tvg-logo="http://i.imgur.com/zR3osZs.png" group-title="LISTA CANAIS ESPORTES",BAND SPORTS
http://94.23.19.121:8000/live/felipe1/felipe3873/1296.ts
#EXTINF:-1 tvg-ID="" tvg-name="BAND NEWS" tvg-logo="http://i.imgur.com/ibNTVbR.png" group-title="LISTA DOCUMENTÁRIOS",BAND NEWS
http://94.23.19.121:8000/live/felipe1/felipe3873/1294.ts
#EXTINF:-1 tvg-ID="" tvg-name="BBB Big Brother Brasil" tvg-logo="" group-title="LISTA TV ABERTA",BBB Big Brother Brasil
http://94.23.19.121:8000/live/felipe1/felipe3873/1556.ts
#EXTINF:-1 tvg-ID="" tvg-name="BIS" tvg-logo="http://i.imgur.com/JNP327k.png" group-title="LISTA MÚSICAS",BIS
http://94.23.19.121:8000/live/felipe1/felipe3873/1284.ts
#EXTINF:-1 tvg-ID="" tvg-name="Bossa Nova" tvg-logo="https://www.putumayo.com/wp-content/uploads/2011/01/Bossa-Nova-Cover-Art-PRINT-WEB.jpg" group-title="LISTA RADIO",Bossa Nova
http://94.23.19.121:8000/live/felipe1/felipe3873/889.ts
#EXTINF:-1 tvg-ID="" tvg-name="Boomerang" tvg-logo="http://i.imgur.com/dfRrag8.png" group-title="LISTA DESENHOS",Boomerang
http://94.23.19.121:8000/live/felipe1/felipe3873/1444.ts
#EXTINF:-1 tvg-ID="" tvg-name="CANAL RURAL" tvg-logo="http://i.imgur.com/NEYjYBz.png" group-title="LISTA DOCUMENTÁRIOS",CANAL RURAL
http://94.23.19.121:8000/live/felipe1/felipe3873/108.ts
#EXTINF:-1 tvg-ID="" tvg-name="Canal Sony" tvg-logo="http://i.imgur.com/eHN8OeK.png" group-title="LISTA FILMES E SERIES",Canal Sony
http://94.23.19.121:8000/live/felipe1/felipe3873/1158.ts
#EXTINF:-1 tvg-ID="" tvg-name="Cartoon Network" tvg-logo="http://i.imgur.com/S5PsDDR.png" group-title="LISTA DESENHOS",Cartoon Network
http://94.23.19.121:8000/live/felipe1/felipe3873/1174.ts
#EXTINF:-1 tvg-ID="" tvg-name="Cartoon Retro" tvg-logo="https://1.bp.blogspot.com/-ogVexm6P874/WSJavg7hpwI/AAAAAAAACpQ/Gwqnb789JlQxyZbuwPo4ph_ZxUqNVyUsQCLcB/s1600/retro-cartoon.jpg" group-title="LISTA DESENHOS",Cartoon Retro
http://94.23.19.121:8000/live/felipe1/felipe3873/67.ts
#EXTINF:-1 tvg-ID="" tvg-name="CATV HD" tvg-logo="" group-title="",CATV HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1557.ts
#EXTINF:-1 tvg-ID="" tvg-name="CBS NEWS INGLES" tvg-logo="http://logo-load.com/uploads/posts/2016-04/1459527546_cbs-news-logo.png" group-title="LISTA DOCUMENTÁRIOS",CBS NEWS INGLES
http://94.23.19.121:8000/live/felipe1/felipe3873/61.ts
#EXTINF:-1 tvg-ID="" tvg-name="Cinemax" tvg-logo="https://upload.wikimedia.org/wikipedia/commons/6/6a/Cinemax_LA.png" group-title="LISTA FILMES E SERIES",Cinemax
http://94.23.19.121:8000/live/felipe1/felipe3873/1179.ts
#EXTINF:-1 tvg-ID="" tvg-name="Combate" tvg-logo="http://i.imgur.com/5qo1Dyc.png" group-title="LISTA CANAIS ESPORTES",Combate
http://94.23.19.121:8000/live/felipe1/felipe3873/1273.ts
#EXTINF:-1 tvg-ID="" tvg-name="Comedy Central" tvg-logo="http://i.imgur.com/0956PZG.png" group-title="LISTA FILMES E SERIES",Comedy Central
http://94.23.19.121:8000/live/felipe1/felipe3873/1257.ts
#EXTINF:-1 tvg-ID="" tvg-name="CULTURA HD" tvg-logo="http://u.iptvmove.com/PfmMu" group-title="LISTA TV ABERTA",CULTURA HD
http://94.23.19.121:8000/live/felipe1/felipe3873/51.ts
#EXTINF:-1 tvg-ID="" tvg-name="Discovery Channel" tvg-logo="http://i.imgur.com/tUTV4Kl.png" group-title="LISTA DOCUMENTÁRIOS",Discovery Channel
http://94.23.19.121:8000/live/felipe1/felipe3873/1198.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) DISCOVERY CHANNEL" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",(PT) DISCOVERY CHANNEL
http://94.23.19.121:8000/live/felipe1/felipe3873/1540.ts
#EXTINF:-1 tvg-ID="" tvg-name="Discovery H&H" tvg-logo="http://i.imgur.com/FJgwtT5.png" group-title="LISTA DOCUMENTÁRIOS",Discovery H&H
http://94.23.19.121:8000/live/felipe1/felipe3873/1154.ts
#EXTINF:-1 tvg-ID="" tvg-name="Discovery Kids" tvg-logo="http://i.imgur.com/32njYPj.png" group-title="LISTA DESENHOS",Discovery Kids
http://94.23.19.121:8000/live/felipe1/felipe3873/1183.ts
#EXTINF:-1 tvg-ID="" tvg-name="DISCOVERY TURBO" tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Discovery_Turbo_logo.svg/2000px-Discovery_Turbo_logo.svg.png" group-title="LISTA DOCUMENTÁRIOS",DISCOVERY TURBO
http://94.23.19.121:8000/live/felipe1/felipe3873/1295.ts
#EXTINF:-1 tvg-ID="" tvg-name="Disney Channel" tvg-logo="http://i.imgur.com/4KeieN7.png" group-title="LISTA DESENHOS",Disney Channel
http://94.23.19.121:8000/live/felipe1/felipe3873/1445.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) DISNEY CHANNEL" tvg-logo="" group-title="LISTA DESENHOS",(PT) DISNEY CHANNEL
http://94.23.19.121:8000/live/felipe1/felipe3873/1541.ts
#EXTINF:-1 tvg-ID="" tvg-name="DISNEY JUNIOR" tvg-logo="http://i.imgur.com/60JkJAz.png" group-title="LISTA DESENHOS",DISNEY JUNIOR
http://94.23.19.121:8000/live/felipe1/felipe3873/1228.ts
#EXTINF:-1 tvg-ID="" tvg-name="Disney XD" tvg-logo="http://i.imgur.com/zNNIALN.png" group-title="LISTA DESENHOS",Disney XD
http://94.23.19.121:8000/live/felipe1/felipe3873/1439.ts
#EXTINF:-1 tvg-ID="" tvg-name="DW" tvg-logo="http://www.dw.com/cssi/dwlogo-print.gif" group-title="LISTA DOCUMENTÁRIOS",DW
http://94.23.19.121:8000/live/felipe1/felipe3873/876.ts
#EXTINF:-1 tvg-ID="" tvg-name="E!" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",E!
http://94.23.19.121:8000/live/felipe1/felipe3873/1258.ts
#EXTINF:-1 tvg-ID="" tvg-name="Eimaxx" tvg-logo="http://i.imgur.com/OpkyrD1.png" group-title="LISTA CANAIS ESPORTES",Eimaxx
http://94.23.19.121:8000/live/felipe1/felipe3873/1282.ts
#EXTINF:-1 tvg-ID="" tvg-name="Eimaxx  2" tvg-logo="http://i.imgur.com/OpkyrD1.png" group-title="LISTA CANAIS ESPORTES",Eimaxx  2
http://94.23.19.121:8000/live/felipe1/felipe3873/1286.ts
#EXTINF:-1 tvg-ID="" tvg-name="ESPN" tvg-logo="" group-title="LISTA CANAIS ESPORTES",ESPN
http://94.23.19.121:8000/live/felipe1/felipe3873/1252.ts
#EXTINF:-1 tvg-ID="" tvg-name="ESPN +" tvg-logo="https://s31.postimg.org/jnhiwkp97/ESPN.png" group-title="LISTA CANAIS ESPORTES",ESPN +
http://94.23.19.121:8000/live/felipe1/felipe3873/1169.ts
#EXTINF:-1 tvg-ID="" tvg-name="ESPN Brasil" tvg-logo="http://i.imgur.com/rTXcueh.png" group-title="LISTA CANAIS ESPORTES",ESPN Brasil
http://94.23.19.121:8000/live/felipe1/felipe3873/1155.ts
#EXTINF:-1 tvg-ID="" tvg-name="Festa" tvg-logo="http://www.vaiterfestalocacoes.com.br/locacaodebrinquedos/templates/jp-kids/images/logo.png" group-title="LISTA RADIO",Festa
http://94.23.19.121:8000/live/felipe1/felipe3873/905.ts
#EXTINF:-1 tvg-ID="" tvg-name="Food Network" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",Food Network
http://94.23.19.121:8000/live/felipe1/felipe3873/1188.ts
#EXTINF:-1 tvg-ID="" tvg-name="Fox" tvg-logo="" group-title="LISTA FILMES E SERIES",Fox
http://94.23.19.121:8000/live/felipe1/felipe3873/1172.ts
#EXTINF:-1 tvg-ID="" tvg-name="FOX LIFE" tvg-logo="" group-title="LISTA FILMES E SERIES",FOX LIFE
http://94.23.19.121:8000/live/felipe1/felipe3873/1168.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  FOX MOVIES" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  FOX MOVIES
http://94.23.19.121:8000/live/felipe1/felipe3873/1530.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  FOX LIFE HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  FOX LIFE HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1535.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  FOX HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  FOX HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1531.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  FOX CRIME" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  FOX CRIME
http://94.23.19.121:8000/live/felipe1/felipe3873/1536.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  FOX COMEDY" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  FOX COMEDY
http://94.23.19.121:8000/live/felipe1/felipe3873/1537.ts
#EXTINF:-1 tvg-ID="" tvg-name="(BR) FOX Premium 1 HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(BR) FOX Premium 1 HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1542.ts
#EXTINF:-1 tvg-ID="" tvg-name="Fox Sports" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Fox Sports
http://94.23.19.121:8000/live/felipe1/felipe3873/1171.ts
#EXTINF:-1 tvg-ID="" tvg-name="Fox Sport 2" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Fox Sport 2
http://94.23.19.121:8000/live/felipe1/felipe3873/1251.ts
#EXTINF:-1 tvg-ID="" tvg-name="FX" tvg-logo="" group-title="LISTA FILMES E SERIES",FX
http://94.23.19.121:8000/live/felipe1/felipe3873/1157.ts
#EXTINF:-1 tvg-ID="" tvg-name="Globo News" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",Globo News
http://94.23.19.121:8000/live/felipe1/felipe3873/1249.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO PORTO ALEGRE" tvg-logo="" group-title="LISTA TV ABERTA",GLOBO PORTO ALEGRE
http://94.23.19.121:8000/live/felipe1/felipe3873/1293.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO RJ" tvg-logo="" group-title="LISTA TV ABERTA",GLOBO RJ
http://94.23.19.121:8000/live/felipe1/felipe3873/1231.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO RPC" tvg-logo="" group-title="LISTA TV ABERTA",GLOBO RPC
http://94.23.19.121:8000/live/felipe1/felipe3873/1230.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO SANTOS" tvg-logo="" group-title="LISTA TV ABERTA",GLOBO SANTOS
http://94.23.19.121:8000/live/felipe1/felipe3873/1274.ts
#EXTINF:-1 tvg-ID="Globo SP" tvg-name="GLOBO SP" tvg-logo="" group-title="LISTA TV ABERTA",GLOBO SP
http://94.23.19.121:8000/live/felipe1/felipe3873/1232.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO MINAS" tvg-logo="" group-title="",GLOBO MINAS
http://94.23.19.121:8000/live/felipe1/felipe3873/1552.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO GOIÂNIA" tvg-logo="" group-title="",GLOBO GOIÂNIA
http://94.23.19.121:8000/live/felipe1/felipe3873/1554.ts
#EXTINF:-1 tvg-ID="" tvg-name="GLOBO BRASILIA" tvg-logo="" group-title="",GLOBO BRASILIA
http://94.23.19.121:8000/live/felipe1/felipe3873/1553.ts
#EXTINF:-1 tvg-ID="" tvg-name="Gloob" tvg-logo="" group-title="LISTA DESENHOS",Gloob
http://94.23.19.121:8000/live/felipe1/felipe3873/1196.ts
#EXTINF:-1 tvg-ID="" tvg-name="GNT" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",GNT
http://94.23.19.121:8000/live/felipe1/felipe3873/1239.ts
#EXTINF:-1 tvg-ID="" tvg-name="H2" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",H2
http://94.23.19.121:8000/live/felipe1/felipe3873/1159.ts
#EXTINF:-1 tvg-ID="" tvg-name="HBO" tvg-logo="" group-title="LISTA FILMES E SERIES",HBO
http://94.23.19.121:8000/live/felipe1/felipe3873/1193.ts
#EXTINF:-1 tvg-ID="" tvg-name="Hbo 2" tvg-logo="" group-title="LISTA FILMES E SERIES",Hbo 2
http://94.23.19.121:8000/live/felipe1/felipe3873/1156.ts
#EXTINF:-1 tvg-ID="" tvg-name="HBO FAMILY" tvg-logo="" group-title="LISTA FILMES E SERIES",HBO FAMILY
http://94.23.19.121:8000/live/felipe1/felipe3873/1240.ts
#EXTINF:-1 tvg-ID="" tvg-name="HBO PLUS" tvg-logo="" group-title="LISTA FILMES E SERIES",HBO PLUS
http://94.23.19.121:8000/live/felipe1/felipe3873/1170.ts
#EXTINF:-1 tvg-ID="" tvg-name="HBO SIGNATURE" tvg-logo="" group-title="LISTA FILMES E SERIES",HBO SIGNATURE
http://94.23.19.121:8000/live/felipe1/felipe3873/1237.ts
#EXTINF:-1 tvg-ID="" tvg-name="HBO Plus *e" tvg-logo="" group-title="LISTA FILMES E SERIES",HBO Plus *e
http://94.23.19.121:8000/live/felipe1/felipe3873/1436.ts
#EXTINF:-1 tvg-ID="" tvg-name="ID - Investigação Discovery" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",ID - Investigação Discovery
http://94.23.19.121:8000/live/felipe1/felipe3873/1162.ts
#EXTINF:-1 tvg-ID="" tvg-name="I-Sat" tvg-logo="" group-title="LISTA FILMES E SERIES",I-Sat
http://94.23.19.121:8000/live/felipe1/felipe3873/1255.ts
#EXTINF:-1 tvg-ID="" tvg-name="Lifetime" tvg-logo="" group-title="LISTA FILMES E SERIES",Lifetime
http://94.23.19.121:8000/live/felipe1/felipe3873/1204.ts
#EXTINF:-1 tvg-ID="" tvg-name="Lounge" tvg-logo="" group-title="LISTA RADIO",Lounge
http://94.23.19.121:8000/live/felipe1/felipe3873/896.ts
#EXTINF:-1 tvg-ID="" tvg-name="Max" tvg-logo="" group-title="LISTA FILMES E SERIES",Max
http://94.23.19.121:8000/live/felipe1/felipe3873/1259.ts
#EXTINF:-1 tvg-ID="" tvg-name="MAX Prime" tvg-logo="" group-title="LISTA FILMES E SERIES",MAX Prime
http://94.23.19.121:8000/live/felipe1/felipe3873/1181.ts
#EXTINF:-1 tvg-ID="" tvg-name="MAX Prime**e" tvg-logo="" group-title="LISTA FILMES E SERIES",MAX Prime**e
http://94.23.19.121:8000/live/felipe1/felipe3873/1241.ts
#EXTINF:-1 tvg-ID="" tvg-name="MAX UP" tvg-logo="" group-title="LISTA FILMES E SERIES",MAX UP
http://94.23.19.121:8000/live/felipe1/felipe3873/1203.ts
#EXTINF:-1 tvg-ID="" tvg-name="Música Clássica" tvg-logo="" group-title="LISTA RADIO",Música Clássica
http://94.23.19.121:8000/live/felipe1/felipe3873/911.ts
#EXTINF:-1 tvg-ID="" tvg-name="Mega Pix" tvg-logo="" group-title="LISTA FILMES E SERIES",Mega Pix
http://94.23.19.121:8000/live/felipe1/felipe3873/1180.ts
#EXTINF:-1 tvg-ID="" tvg-name="Metal" tvg-logo="" group-title="LISTA RADIO",Metal
http://94.23.19.121:8000/live/felipe1/felipe3873/917.ts
#EXTINF:-1 tvg-ID="" tvg-name="MTV" tvg-logo="" group-title="LISTA MÚSICAS",MTV
http://94.23.19.121:8000/live/felipe1/felipe3873/1283.ts
#EXTINF:-1 tvg-ID="" tvg-name="MULTI SHOW" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",MULTI SHOW
http://94.23.19.121:8000/live/felipe1/felipe3873/861.ts
#EXTINF:-1 tvg-ID="" tvg-name="MUSIC CHANNEL" tvg-logo="" group-title="LISTA MÚSICAS",MUSIC CHANNEL
http://94.23.19.121:8000/live/felipe1/felipe3873/854.ts
#EXTINF:-1 tvg-ID="" tvg-name="music retro" tvg-logo="" group-title="LISTA MÚSICAS",music retro
http://94.23.19.121:8000/live/felipe1/felipe3873/919.ts
#EXTINF:-1 tvg-ID="" tvg-name="NatGeo Wild" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",NatGeo Wild
http://94.23.19.121:8000/live/felipe1/felipe3873/1448.ts
#EXTINF:-1 tvg-ID="" tvg-name="National Geographic" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",National Geographic
http://94.23.19.121:8000/live/felipe1/felipe3873/1161.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) NAT GEO HD" tvg-logo="" group-title="",(PT) NAT GEO HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1539.ts
#EXTINF:-1 tvg-ID="" tvg-name="New Rock" tvg-logo="" group-title="LISTA RADIO",New Rock
http://94.23.19.121:8000/live/felipe1/felipe3873/912.ts
#EXTINF:-1 tvg-ID="" tvg-name="Nick Jr" tvg-logo="" group-title="LISTA DESENHOS",Nick Jr
http://94.23.19.121:8000/live/felipe1/felipe3873/1446.ts
#EXTINF:-1 tvg-ID="" tvg-name="Nickelodeon" tvg-logo="" group-title="LISTA DESENHOS",Nickelodeon
http://94.23.19.121:8000/live/felipe1/felipe3873/1160.ts
#EXTINF:-1 tvg-ID="" tvg-name="OFF" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",OFF
http://94.23.19.121:8000/live/felipe1/felipe3873/1278.ts
#EXTINF:-1 tvg-ID="" tvg-name="Pagode" tvg-logo="" group-title="LISTA RADIO",Pagode
http://94.23.19.121:8000/live/felipe1/felipe3873/891.ts
#EXTINF:-1 tvg-ID="" tvg-name="Paramount" tvg-logo="" group-title="LISTA FILMES E SERIES",Paramount
http://94.23.19.121:8000/live/felipe1/felipe3873/1189.ts
#EXTINF:-1 tvg-ID="" tvg-name="PLAYBOY TV" tvg-logo="" group-title="LISTA ADULTOS",PLAYBOY TV
http://94.23.19.121:8000/live/felipe1/felipe3873/1290.ts
#EXTINF:-1 tvg-ID="" tvg-name="Pop Hits" tvg-logo="" group-title="LISTA RADIO",Pop Hits
http://94.23.19.121:8000/live/felipe1/felipe3873/916.ts
#EXTINF:-1 tvg-ID="" tvg-name="Pop Rock" tvg-logo="" group-title="LISTA RADIO",Pop Rock
http://94.23.19.121:8000/live/felipe1/felipe3873/897.ts
#EXTINF:-1 tvg-ID="" tvg-name="Prime Box Brasil" tvg-logo="" group-title="LISTA FILMES E SERIES",Prime Box Brasil
http://94.23.19.121:8000/live/felipe1/felipe3873/1433.ts
#EXTINF:-1 tvg-ID="" tvg-name="PREMIERE 2" tvg-logo="" group-title="LISTA CANAIS ESPORTES",PREMIERE 2
http://94.23.19.121:8000/live/felipe1/felipe3873/1292.ts
#EXTINF:-1 tvg-ID="" tvg-name="Premiere 3" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Premiere 3
http://94.23.19.121:8000/live/felipe1/felipe3873/1176.ts
#EXTINF:-1 tvg-ID="" tvg-name="PREMIERE 4" tvg-logo="" group-title="LISTA CANAIS ESPORTES",PREMIERE 4
http://94.23.19.121:8000/live/felipe1/felipe3873/1242.ts
#EXTINF:-1 tvg-ID="" tvg-name="PREMIERE 5" tvg-logo="" group-title="LISTA CANAIS ESPORTES",PREMIERE 5
http://94.23.19.121:8000/live/felipe1/felipe3873/1234.ts
#EXTINF:-1 tvg-ID="" tvg-name="PREMIERE 6" tvg-logo="" group-title="LISTA CANAIS ESPORTES",PREMIERE 6
http://94.23.19.121:8000/live/felipe1/felipe3873/1289.ts
#EXTINF:-1 tvg-ID="" tvg-name="Premiere 7" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Premiere 7
http://94.23.19.121:8000/live/felipe1/felipe3873/1186.ts
#EXTINF:-1 tvg-ID="" tvg-name="Premiere 8" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Premiere 8
http://94.23.19.121:8000/live/felipe1/felipe3873/1175.ts
#EXTINF:-1 tvg-ID="" tvg-name="Premiere Clubes" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Premiere Clubes
http://94.23.19.121:8000/live/felipe1/felipe3873/1165.ts
#EXTINF:-1 tvg-ID="" tvg-name="RADIO FM" tvg-logo="" group-title="LISTA RADIO",RADIO FM
http://94.23.19.121:8000/live/felipe1/felipe3873/65.ts
#EXTINF:-1 tvg-ID="" tvg-name="RECORD NEWS" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",RECORD NEWS
http://94.23.19.121:8000/live/felipe1/felipe3873/59.ts
#EXTINF:-1 tvg-ID="" tvg-name="REDE TV" tvg-logo="" group-title="LISTA TV ABERTA",REDE TV
http://94.23.19.121:8000/live/felipe1/felipe3873/1276.ts
#EXTINF:-1 tvg-ID="" tvg-name="Sb4 Músicas" tvg-logo="" group-title="LISTA MÚSICAS",Sb4 Músicas
http://94.23.19.121:8000/live/felipe1/felipe3873/63.ts
#EXTINF:-1 tvg-ID="" tvg-name="SBT" tvg-logo="" group-title="LISTA TV ABERTA",SBT
http://94.23.19.121:8000/live/felipe1/felipe3873/658.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) SCT (XXX)" tvg-logo="" group-title="LISTA ADULTOS",(PT) SCT (XXX)
http://94.23.19.121:8000/live/felipe1/felipe3873/1543.ts
#EXTINF:-1 tvg-ID="" tvg-name="SEXTREME" tvg-logo="" group-title="LISTA ADULTOS",SEXTREME
http://94.23.19.121:8000/live/felipe1/felipe3873/1287.ts
#EXTINF:-1 tvg-ID="" tvg-name="SEXY HOT" tvg-logo="" group-title="LISTA ADULTOS",SEXY HOT
http://94.23.19.121:8000/live/felipe1/felipe3873/1291.ts
#EXTINF:-1 tvg-ID="" tvg-name="Space" tvg-logo="" group-title="LISTA FILMES E SERIES",Space
http://94.23.19.121:8000/live/felipe1/felipe3873/1260.ts
#EXTINF:-1 tvg-ID="SPORTV SD" tvg-name="SporTV" tvg-logo="" group-title="LISTA CANAIS ESPORTES",SporTV
http://94.23.19.121:8000/live/felipe1/felipe3873/1335.ts
#EXTINF:-1 tvg-ID="" tvg-name="Sport TV 2" tvg-logo="https://4.bp.blogspot.com/-UV4ZT1yTww0/V6U23nsuNSI/AAAAAAAAAwk/1jqu0WgkNkM_liUU9odLJ8SQIaaFxmXngCPcB/s1600/2.png" group-title="LISTA CANAIS ESPORTES",Sport TV 2
http://94.23.19.121:8000/live/felipe1/felipe3873/1250.ts
#EXTINF:-1 tvg-ID="SporTV 3" tvg-name="SporTV 3" tvg-logo="" group-title="LISTA CANAIS ESPORTES",SporTV 3
http://94.23.19.121:8000/live/felipe1/felipe3873/1178.ts
#EXTINF:-1 tvg-ID="" tvg-name="Syfy" tvg-logo="" group-title="LISTA FILMES E SERIES",Syfy
http://94.23.19.121:8000/live/felipe1/felipe3873/1182.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) SYFY HD" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) SYFY HD
http://94.23.19.121:8000/live/felipe1/felipe3873/1538.ts
#EXTINF:-1 tvg-ID="" tvg-name="Studio Universal" tvg-logo="" group-title="LISTA FILMES E SERIES",Studio Universal
http://94.23.19.121:8000/live/felipe1/felipe3873/1438.ts
#EXTINF:-1 tvg-ID="" tvg-name="Telecine Action" tvg-logo="" group-title="LISTA FILMES E SERIES",Telecine Action
http://94.23.19.121:8000/live/felipe1/felipe3873/1173.ts
#EXTINF:-1 tvg-ID="" tvg-name="Telecine Cult" tvg-logo="" group-title="LISTA FILMES E SERIES",Telecine Cult
http://94.23.19.121:8000/live/felipe1/felipe3873/1432.ts
#EXTINF:-1 tvg-ID="" tvg-name="Telecine Fun" tvg-logo="" group-title="LISTA FILMES E SERIES",Telecine Fun
http://94.23.19.121:8000/live/felipe1/felipe3873/1207.ts
#EXTINF:-1 tvg-ID="" tvg-name="TELECINE PIPOCA" tvg-logo="" group-title="LISTA FILMES E SERIES",TELECINE PIPOCA
http://94.23.19.121:8000/live/felipe1/felipe3873/1229.ts
#EXTINF:-1 tvg-ID="" tvg-name="Telecine Premium" tvg-logo="" group-title="LISTA FILMES E SERIES",Telecine Premium
http://94.23.19.121:8000/live/felipe1/felipe3873/1190.ts
#EXTINF:-1 tvg-ID="" tvg-name="Telecine Touch" tvg-logo="" group-title="LISTA FILMES E SERIES",Telecine Touch
http://94.23.19.121:8000/live/felipe1/felipe3873/1191.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) TVCINE 4" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) TVCINE 4
http://94.23.19.121:8000/live/felipe1/felipe3873/1529.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) TVCINE 3" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) TVCINE 3
http://94.23.19.121:8000/live/felipe1/felipe3873/1528.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT) TVCINE 2" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT) TVCINE 2
http://94.23.19.121:8000/live/felipe1/felipe3873/1527.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  VENUS" tvg-logo="" group-title="LISTA ADULTOS",(PT)  VENUS
http://94.23.19.121:8000/live/felipe1/felipe3873/1544.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  TVCINE SERIES" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  TVCINE SERIES
http://94.23.19.121:8000/live/felipe1/felipe3873/1545.ts
#EXTINF:-1 tvg-ID="" tvg-name="(PT)  TVCINE 1" tvg-logo="" group-title="LISTA FILMES E SERIES",(PT)  TVCINE 1
http://94.23.19.121:8000/live/felipe1/felipe3873/1526.ts
#EXTINF:-1 tvg-ID="" tvg-name="The History Channel" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",The History Channel
http://94.23.19.121:8000/live/felipe1/felipe3873/1184.ts
#EXTINF:-1 tvg-ID="" tvg-name="TLC" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",TLC
http://94.23.19.121:8000/live/felipe1/felipe3873/1163.ts
#EXTINF:-1 tvg-ID="" tvg-name="TCM" tvg-logo="" group-title="LISTA FILMES E SERIES",TCM
http://94.23.19.121:8000/live/felipe1/felipe3873/1437.ts
#EXTINF:-1 tvg-ID="" tvg-name="tlc portugal" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",tlc portugal
http://94.23.19.121:8000/live/felipe1/felipe3873/866.ts
#EXTINF:-1 tvg-ID="" tvg-name="Top Tv" tvg-logo="" group-title="",Top Tv
http://94.23.19.121:8000/live/felipe1/felipe3873/1558.ts
#EXTINF:-1 tvg-ID="" tvg-name="TNT" tvg-logo="" group-title="LISTA FILMES E SERIES",TNT
http://94.23.19.121:8000/live/felipe1/felipe3873/1235.ts
#EXTINF:-1 tvg-ID="" tvg-name="TNT SERIES" tvg-logo="" group-title="LISTA FILMES E SERIES",TNT SERIES
http://94.23.19.121:8000/live/felipe1/felipe3873/1267.ts
#EXTINF:-1 tvg-ID="" tvg-name="Tooncast" tvg-logo="" group-title="LISTA DESENHOS",Tooncast
http://94.23.19.121:8000/live/felipe1/felipe3873/1197.ts
#EXTINF:-1 tvg-ID="" tvg-name="Trilhas Sonoras" tvg-logo="" group-title="LISTA RADIO",Trilhas Sonoras
http://94.23.19.121:8000/live/felipe1/felipe3873/918.ts
#EXTINF:-1 tvg-ID="" tvg-name="TruTV" tvg-logo="" group-title="LISTA DOCUMENTÁRIOS",TruTV
http://94.23.19.121:8000/live/felipe1/felipe3873/1194.ts
#EXTINF:-1 tvg-ID="" tvg-name="TV APARECIDA" tvg-logo="http://i.imgur.com/UOMWJH6.png" group-title="LISTA TV ABERTA",TV APARECIDA
http://94.23.19.121:8000/live/felipe1/felipe3873/107.ts
#EXTINF:-1 tvg-ID="" tvg-name="TV BRASIL" tvg-logo="" group-title="LISTA FILMES E SERIES",TV BRASIL
http://94.23.19.121:8000/live/felipe1/felipe3873/1288.ts
#EXTINF:-1 tvg-ID="" tvg-name="TV Rá tim bum" tvg-logo="" group-title="LISTA DESENHOS",TV Rá tim bum
http://94.23.19.121:8000/live/felipe1/felipe3873/1447.ts
#EXTINF:-1 tvg-ID="" tvg-name="TBS" tvg-logo="" group-title="LISTA FILMES E SERIES",TBS
http://94.23.19.121:8000/live/felipe1/felipe3873/1443.ts
#EXTINF:-1 tvg-ID="" tvg-name="UNIVERSAL CHANNEL" tvg-logo="" group-title="LISTA FILMES E SERIES",UNIVERSAL CHANNEL
http://94.23.19.121:8000/live/felipe1/felipe3873/1236.ts
#EXTINF:-1 tvg-ID="" tvg-name="VH1  Megahits" tvg-logo="" group-title="LISTA MÚSICAS",VH1  Megahits
http://94.23.19.121:8000/live/felipe1/felipe3873/1285.ts
#EXTINF:-1 tvg-ID="" tvg-name="VIVA" tvg-logo="" group-title="LISTA FILMES E SERIES",VIVA
http://94.23.19.121:8000/live/felipe1/felipe3873/1167.ts
#EXTINF:-1 tvg-ID="" tvg-name="Volksmusikpur" tvg-logo="" group-title="",Volksmusikpur
http://94.23.19.121:8000/live/felipe1/felipe3873/1559.ts
#EXTINF:-1 tvg-ID="" tvg-name="Warner Channel" tvg-logo="" group-title="LISTA FILMES E SERIES",Warner Channel
http://94.23.19.121:8000/live/felipe1/felipe3873/1205.ts
#EXTINF:-1 tvg-ID="Woohoo" tvg-name="Woohoo" tvg-logo="" group-title="LISTA CANAIS ESPORTES",Woohoo
http://94.23.19.121:8000/live/felipe1/felipe3873/1269.ts
